@import url("style.css");

body form .campos-login {
    text-align: center;
    max-width: 300px;
}

body form .campos-login input[type="submit"]{
    background-color: var(--color-celeste);
    color: white;
}

body form .campos-login input {
    width: 100%;

}

@media (min-width:768px) {
    body form .campos-login {
        width: 40%;
    }
}